/* Body */
body {
  overflow-x: hidden;
  background-color: #f0f0f0;
}

h2,
h3 {
  color: #4fbfa8;
}

a,
button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

a i.fa,
button i.fa {
  margin: 0 5px;
}

.navbar .btn,
#content .btn {
  background-color: #4fbfa8 !important;
  border-color: #4fbfa8;
}

/*
*
* ======================================================================
* TOP BAR
* ======================================================================
*
*/
#top {
  background: #555;
  padding: 10px 0;
}

#top .offer .btn {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#top .offer,
#top a {
  color: #fff;
  text-decoration: none;
}

#top ul.menu {
  padding-top: 5px;
  margin: 0;
  font-size: 0.738rem;
}

#top ul.menu > li {
  margin-right: 0;
}

#top ul.menu > li a {
  color: #eee;
}

#top ul.menu > li + li:before {
  content: "|\00a0";
  padding: 0 5px;
  color: #f8f9fa;
}

/*
*
* ======================================================================
* NAVIGATION BAR
* ======================================================================
*
*/

.navbar {
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
}

.navbar-brand:hover {
  font-size: 25px;
}

.navbar .navbar-nav > .nav-item > .nav-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  padding: 25px 15px !important;
  color: #555;
}

.navbar .navbar-nav > .nav-item > .nav-link.active,
.navbar .navbar-nav > .nav-item > .nav-link:hover,
.navbar .navbar-nav > .nav-item > .nav-link:focus {
  background: #4fbfa8;
}

/*
*
* ======================================================================
* Main 
* ======================================================================
*
*/

#content {
  background-color: rgb(236, 232, 232);
  margin-bottom: 0;
  padding: 80px 0;
}

/*
*
* ======================================================================
* ADVANTAGES
* ======================================================================
*
*/
#advantages {
  text-align: center;
  margin-top: 30px;
}

#advantages .box {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

#advantages .box .icon {
  font-size: 30px;
  color: rgb(212, 152, 152);
}

#advantages .box h3 {
  margin: 0 0 10px;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#advantages .box p {
  color: #555;
}

/*
*
* ======================================================================
* POPULAR PRODUCT
* ======================================================================
*
*/

.item {
  margin-bottom: 30px;
}

.card {
  background-color: #fff;
  width: 12rem;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.item .card p {
  margin-bottom: 2px;
}

/*
*
* ======================================================================
* FOOTER
* ======================================================================
*
*/

#footer {
  background: #e0e0e0;
  padding: 100px 0;
}

#footer ul {
  padding-left: 0;
  list-style: none;
}

#footer ul a {
  color: #999;
  text-decoration: none;
}

#footer .social {
  text-align: left;
}

#footer .social a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: bottom;
  background-color: #555;
}

#footer .social a i {
  vertical-align: bottom;
  line-height: 30px;
}

#footer .social a.facebook:hover {
  background-color: #4460ae;
}

#footer .social a.gplus:hover {
  background-color: #c21f25;
}

#footer .social a.twitter:hover {
  background-color: #3cf;
}

#footer .social a.instagram:hover {
  background-color: #cd4378;
}

#footer .social a.email:hover {
  background-color: #4a7f45;
}

/* 
*
* ======================================================================
* COPYRIGHTS
* ======================================================================
*
*/
#copyright {
  background: #333;
  color: #ccc;
  padding: 20px 0;
  font-size: 0.738rem;
}

#copyright p {
  margin: 0;
}

/*
*
* ======================================================================
* BOX
* ======================================================================
*
*/

.box {
  background: #fff;
  margin: 0 0 30px;
  border: solid 1px #e6e6e6;
  padding: 30px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/*
*
* ======================================================================
* LOGIN PAGE
* ======================================================================
*
*/

#login {
  width: 450px;
  margin: 0 auto;
}

#login .forget-password a {
  font-size: 14px;
  color: rgb(145, 141, 141);
  text-decoration: none;
}
